html {height:90%;}
body {
    height: 100%;
    background-color: black;
    text-align: center;
    position: relative;
}
.keypad_container {
    position:absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    margin: 0;
    margin-top:-201px;
    margin-left:-200.625px;
}
.keypad {
    vertical-align: center;
    color: #FF0000;
    display: inline-block;
    background-color: #cbcdc0;
    border: 5px solid #787c7e;
    border-radius: 10%;
    width: 100px;
    height: 100px;
    margin: 10px;
}
.keypad:active {
    background-color: #6b6d60;
}
#display_warning {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -455.5px;
    margin-top:-300px;
    height: 30px;
    width: 100%;
    color: red;
    font-size: 30px;
    font-family: Consolas;
    font-weight: bold;
}
.arrow {
    font-size: 100px;
    color: white;
    user-select: none;
    position: absolute;
}