@font-face {
    font-family: "menu";
    src: url("/sys/css/fonts/EraserDust.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: '능소화';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/GrandifloraOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '이순신';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/YiSunShinRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '마포애민';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoAgapeA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OKCHAN';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2206-02@1.0/OKCHAN.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '오이냉채';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-EF@1.0/EF_cucumbersalad.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '아리랑혼';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirangHON-RegularA1.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    text-align: center;
    background-color: #eee6c4;
}
.menu {
    font-size: 30px;
    color: black;
    display: inline-block;
}
.manual{
    font-size: 18px;
    color: black;
    display: block;
}
.title{
    font-family: "능소화";
    font-weight: bold;
    font-size: 50px;
    line-height: 100px;
    color: green;
}