@font-face {
    font-family: "menu";
    src: url("/sys/css/fonts/EraserDust.ttf") format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: '능소화';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_JAMO@1.0/GrandifloraOne-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body{
    text-align: center;
    background-color: #eee6c4;
}
.menu {
    font-size: 30px;
    color: black;
    display: inline-block;
    font-weight: bold;
}
.title{
    font-family: "능소화";
    font-size: 50px;
    line-height: 100px;
    color: green;
}