<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MISSION</title>
    <link rel="stylesheet" href="/sys/css/mission.css">
    <style>
        @font-face {
            font-family: "letter";
            src: url("/sys/css/fonts/MapoDacapo.ttf") format("truetype");
            font-weight: normal;
        }
        @font-face {
            font-family: "letter_point";
            src: url("/sys/css/fonts/KOTRA_BOLD.ttf") format("truetype");
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div id="letter_container">
        <img id="letter_img" src="/sys/images/letter.png">
    </div>
    <div id="letter" style="font-weight: bold;">
        <img src="/sys/images/restaurant_logo.png" style="width:650px;margin-top:-130px;pointer-events:none;margin-bottom:-120px;">
        <p style="font-size:20px;">당신의 이름은?</p>
        <input placeholder="Insert ID" id="id_input">
    </div>
    <div id="pre_btn" style="position:absolute; top:120%; left:50%; padding:50px; background-color:white; transform:translate(-300px,0px); opacity: 0;"></div>
    <script>
        document.getElementById("pre_btn").addEventListener("click",(e)=>{
            location.href="/mission"+(Number(location.href.split("mission")[1])-1);
        });
    </script>
</body>
</html>