<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MISSION</title>
    <link rel="stylesheet" href="/sys/css/mission.css">
    <style>
        @font-face {
            font-family: "letter";
            src: url("/sys/css/fonts/MapoDacapo.ttf") format("truetype");
            font-weight: normal;
        }
        @font-face {
            font-family: "letter_point";
            src: url("/sys/css/fonts/KOTRA_BOLD.ttf") format("truetype");
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div id="letter_container">
        <img id="letter_img" src="/sys/images/letter.png">
    </div>
    <div id="letter" style="font-weight: bold;">
        <p>다음 페이지</p>
    </div>
</body>
</html>