<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MISSION</title>
    <link rel="stylesheet" href="/sys/css/mission.css">
    <style>
        @font-face {
            font-family: "letter";
            src: url("/sys/css/fonts/MapoDacapo.ttf") format("truetype");
            font-weight: normal;
        }
        @font-face {
            font-family: "letter_point";
            src: url("/sys/css/fonts/KOTRA_BOLD.ttf") format("truetype");
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div id="letter_container">
        <img id="letter_img" src="/sys/images/letter.png">
    </div>
    <div id="letter" style="font-weight: bold;">
        <p class="point" style="color:red;font-size:20px;">[TOP SECRET]</p>
        <br>
        <p>{{ user }} 요원에게,</p>
        <p>이 미션지를 받았다면 우리가 준비한 시험에 통과했다는 뜻이겠군.</p>
        <p style="display:inline;">이로써 자네를 <div class="point" style="display:inline;color:red;">[CENSORED]</div>의 정식 요원으로 임명하겠네.</p>
        <br>
        <p>정식 요원으로서 첫 임무를 주겠네.</p>
        <p style="display: inline;"><div class="point" style="display: inline;color:red;">[CENSORED]</div>의 핵심 인물, ‘Ms. Dl'이 남긴 수수께끼를 푸는 것이</p>
        <p>자네의 첫 임무일세.</p>
        <br>
        <p>진실을 찾기 위해 끊임없이 생각하게나.</p>
        <p>그럼, 건투를 비네. {{ user }} 요원.</p>
        <br>
        <p>진실로 향하는 첫 단서는 이미 주어졌네.</p>
        <br>
        <p style="display: inline;">-<div class="point" style="display: inline;font-weight: normal;">[CENSORED]</div>-</p>
    </div>
    <div id="nxt_btn" style="position:absolute; top:120%; left:50%; padding:50px; background-color:white; transform:translate(200px,0px); opacity: 0;"></div>
    <script>
        document.getElementById("nxt_btn").addEventListener("click",(e)=>{
            location.href="/mission"+(Number(location.href.split("mission")[1])+1);
        });
    </script>
</body>
</html>