<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MISSION</title>
    <link rel="stylesheet" href="/sys/css/mission.css">
    <style>
        @font-face {
            font-family: "letter";
            src: url("/sys/css/fonts/MapoDacapo.ttf") format("truetype");
            font-weight: normal;
        }
        @font-face {
            font-family: "letter_point";
            src: url("/sys/css/fonts/KOTRA_BOLD.ttf") format("truetype");
            font-weight: normal;
        }
    </style>
</head>
<body>
    <div id="letter_container">
        <img id="letter_img" src="/sys/images/letter.png">
    </div>
    <div id="letter" style="font-weight: bold;">
        <img src="/sys/images/restaurant_logo.png" style="width:650px;margin-top:-130px;pointer-events:none;margin-bottom:-120px;">
        <p style="font-size:20px;">레스토랑의 입장을 위해 서명해주십시오.</p>
        <input placeholder="Insert ID" id="id_input">
    </div>
    <div id="pre_btn" style="position:absolute; top:120%; left:50%; padding:50px; background-color:white; transform:translate(-300px,100px); opacity: 0;"></div>
    <script>
        document.getElementById("pre_btn").addEventListener("click",(e)=>{
            location.href="/mission"+(Number(location.href.split("mission")[1])-1);
        });
        document.getElementById("id_input").addEventListener("keypress", (e)=>{
            if(e.keyCode==13){
                var data = document.getElementById("id_input").value;
                const Http = new XMLHttpRequest();
                Http.open("POST","/napoli");
                Http.setRequestHeader("Content-Type","application/json");
                Http.send(JSON.stringify({"id":data}));
                Http.onreadystatechange=(e)=> {
                    if (Http.readyState != 4) return;
                    if (Http.status != 200) {
                        return;
                    }
                    var received = JSON.parse(Http.responseText);
                    if(received["success"]!=true){
                        alert("아이디를 올바르게 입력해주세요.");
                        return;
                    }
                    alert("저희 수상한 레스토랑에 오신 것을 환영합니다.");
                    window.location.href="/napoli";
                    return;
                }
            }
        });
    </script>
</body>
</html>