<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TABLE MANNER</title>
    <link rel="stylesheet" href="/sys/css/neapolitan.css">
</head>
<body>
    <div class="menu title">TABLE MANNER</div>
    <div>
        <hr>
        <div>
            <img src="/sys/images/placesetting.png">
        </div>
        <hr>
        <div class="manual">
            <p>1. 당신의 메뉴를 그들에게 들키지 마세요.</p>
            <p>그들은 언제나 당신의 음식을 탐할 것이고,</p>
            <p>발각되어 손님이 겪게 되실 불이익에는</p>
            <p>일체 책임져드릴 수 없습니다.</p>
        </div>
        <hr>
        <div class="manual">
            <p>2. 저희 레스토랑의 직원은</p>
            <p>모두 <p style="font-weight: bold;">검은색</p>의 복장을 착용하고 있습니다.</p>
            <p>혹시 다른 색상의 옷을 입은</p>
            <p>직원을 발견하신다면, 못 본척 하십시오.</p>
            <p>가끔 직원과 비슷한 복장을 착용한 생물체가</p>
            <p>발견되었다는 제보가 있습니다.</p>
            <p>다시 한 번 알려드립니다,</p>
            <p>그들은 절대 직원이 아닙니다.</p>
        </div>
        <hr>
    </div>
</body>
</html>