<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메뉴판</title>
    <style>
        body{
            background-color: #1d543f;
            text-align: center;
        }
        .menu {
            font-size: 18px;
            color: #eeeeee;
            border: 3px solid #eeeeee;
            display: inline-block;
            font-weight: bold;
            font-family: "궁서";
        }
        .title{
            font-family: "Arial";
            font-size: 50px;
            line-height: 100px;
        }
    </style>
</head>
<body oncontextmenu="return false" ondragstart="return false" onselectstart="return false">
    <div class="menu title" style="width: 80%; height: 100px; margin-top: 10px;">Ⅰ : Appetizer</div>
    <div id="1" class="menu" style="width: 35%; height: 22vh; line-height:2vh; margin-top:50px;">
        <p style="padding-top:10px;">- ⅰ -</p>
        <br>
        <p style="color:red;">Table Manner</p>
        <p>Manner, Maketh, Man</p>
    </div>
</body>
</html>